<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{title}</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>{title}</h1>
        <p>"-Who are you?
		-A {name}!"</p>

        <p>"-firstname?
        -B {firstname}"</p>
        <p>"-age?
        -C {age}"</p>
        <p>"-job?
        -D {job}</p>
    </body>
</html>
