{% extends '../day05_home.html' %}
{% block head %}
<title>day05 ex07</title>
{% endblock %}

{% block body%}
<h1>day05 ex07</h1>
<h2>displaying ...</h2>
	return code:
<!--
<ul>
	{% for item in numbers %}
		<li><pre>{{ item }}</pre></li>
	{% endfor %}
</ul>
-->
<br/>
{% if error == "yes" %}

	<!--<p> {{ error}} </p> -->
	<pre> {{ data }} </pre>

{% else %}
	<table class="table table-bordered" style="background-color: #f5f5f5;">
		<tr>
			<th>Title</th>
			<th>Episode_nb</th>
			<th>Opening_crawl</th>
			<th>Director</th>
			<th>Producer</th>
			<th>Release_date</th>
			<th>Created</th>
			<th>Updated</th>
		</tr>

		{% if error == "empty" %}
			<tr>
					<td rowspan="8">{{ data }}</td>
			</tr>

			{% else %}

			{% for item in data %}
			<tr>
				{% for var in item %}
				<td>{{ var }}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		{% endif %}
	</table>

{% endif %}
{% endblock%}

{% block nav%}
<ul id="nav">
	<li><a href="/ex07/readme">ex07/readme</a></li>
	<li><a href="/ex07/populate">ex07/populate</a></li>
	<li><a href="/ex07/display">ex07/display</a></li>
	<li><a href="/ex07/update">ex07/update</a></li>
	<li><a href="..">Back</a></li>
</ul>
{% endblock%}
