{% extends '../day05_home.html' %}
{% block head %}
<title>day05 ex04</title>
{% endblock %}

{% block body%}
<h1>day05 ex04</h1>
<h2>init: populating ...</h2>
	return code:
<ul>
	{% for item in data %}
		<li><pre>{{ item }}</pre></li>
	{% endfor %}
</ul>
{% endblock%}

{% block nav%}
<ul id="nav">
	<li><a href="/ex04/init">ex04/init</a></li>
	<li><a href="/ex04/populate">ex04/populate</a></li>
	<li><a href="/ex04/display">ex04/display</a></li>
	<li><a href="/ex04/remove">ex04/remove</a></li>
	<li><a href="..">Back</a></li>

</ul>
{% endblock%}
