<!doctype html>
<html>
  <head>
    <title>
      {% block my_title %}
      Base title
      {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/ex01/style1.css' %}" />
    {% block my_style %}
    {% endblock %}
  </head>
  <body>
    {% include "ex01/nav.html" %}
    <!-- ces 2 balises "block" sont propres au lanagage de django -->
    <!-- ces 2 balises definissent un block avec NOM = my_content -->
    <!-- my_content a un contenu par defaut qui pourra etre redefeni -->
    {% block content %}
    <h1>This is the base template. C est my_content par defaut.</h1>
    {% endblock %}
  </body>
</html>
