<!--
  {% if number == 2 %}
    TWO!
    TWO!
    TWO!
  {% else %}
    {{ number }}
  {% endif %}

-->


<tr>
  <td style="background-color:rgb({{number|add:0}}, {{number|add:0}}, {{number|add:0}});"></td>
  <td style="background-color:rgb({{number|add:0}}, {{number|add:0}}, {{number|add:255}});"></td>
  <td style="background-color:rgb({{number|add:255}}, {{number|add:0}}, {{number|add:0}});"></td>
  <td style="background-color:rgb({{number|add:0}}, {{number|add:128}}, {{number|add:0}});"></td>
</tr>
